<div class="contenedor-inputs">
  <label for="cliente">Cliente:</label>
  <div class="contenedor-cliente">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Cliente"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        [(ngModel)]="filtro.cliente"
        #Name
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button" (click)="Name.value=''">X</button>
      </div>
    </div>
  </div>

  <label for="usuario">Usuario:</label>
  <div class="contenedor-usuario">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Usuario"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        [(ngModel)]="filtro.usuario"
        #usuario
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button" (click)="usuario.value=''">X</button>
      </div>
    </div>
  </div>
  <label for="referencia">Referencia:</label>
  <div class="contenedor-referencia">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Usuario"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        [(ngModel)]="filtro.referencia"
        #referencia
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button" (click)="referencia.value=''">X</button>
      </div>
    </div>
  </div>

  <label class="fecha">Fecha:</label>
  <div class="input-group input">
    <input
      type="text"
      placeholder="Fecha"
      class="form-control"
      bsDaterangepicker
      [bsConfig]="{ isAnimated: true }"
      placement="right"
      #fecha
    />
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-danger" (click)="fecha.value=''">X</button>
    </div>
  </div> <br>

  <label for="tipos">Tipos:</label>
  <div class="contenedor-tipo">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Usuario"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        [(ngModel)]="filtro.tipo"
        #tipo
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button" (click)="tipo.value=''">X</button>
      </div>
    </div>
  </div>
  <label for="estado">Estado:</label> <br />
  <div class="contenedor-estado">
    <div class="contenedor-check">
      <input type="checkbox" />Pendinte <br />
      <input type="checkbox" />Recogiendo<br />
      <input type="checkbox" />Recogida<br />
      <input type="checkbox" />Desconsolidando<br />
      <input type="checkbox" />Desconsolidada<br />
      <input type="checkbox" />Entregada<br />
      <input type="checkbox" />Incidencia<br />
    </div>
    <div class="input-group-append boton">
      <button class="btn btn-outline-danger vaciar" type="button" >X</button>
    </div>
  </div>
  <div class="buscar">
    <button
      type="submit"
      class="btn btn-primary btn-lg btn-block"
      (click)="buscar()"
    >
      Buscar
    </button>
  </div>
</div>
