<div class="contenedor-inputs">
  <div class="contenedor-cliente">
    <label for="cliente">Cliente:</label>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Recipient's username"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />

      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button">X</button>
      </div>
    </div>
  </div>
  <div class="contenedor-usuario">
    <label for="usuario">Usuario:</label>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Usuario"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button">X</button>
      </div>
    </div>
  </div>
  <div class="contenedor-referencia">
    <label for="referencia">Referencia:</label>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Usuario"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button">X</button>
      </div>
    </div>
  </div>
  <div class="contenedor-fecha">
    <label for="fecha">Fecha:</label>
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Usuario"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button">X</button>
      </div>
    </div>
  </div>
  <div class="contenedor-tipo">
    <label for="tipos">Tipos:</label>

    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Usuario"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button">X</button>
      </div>
    </div>
  </div>
  <label for="estado">Estado:</label> <br />
  <div class="contenedor-estado">
    <div class="contenedor-check">
      <input type="checkbox" />Pendinte <br />
      <input type="checkbox" />Recogiendo<br />
      <input type="checkbox" />Recogida<br />
      <input type="checkbox" />Desconsolidando<br />
      <input type="checkbox" />Desconsolidada<br />
      <input type="checkbox" />Entregada<br />
      <input type="checkbox" />Incidencia<br />
    </div>
    <div class="input-group-append boton">
      <button class="btn btn-outline-danger vaciar" type="button">X</button>
    </div>
  </div>
  <button class="btn btn-outline-secondary buscar" type="button">Buscar</button>
</div>
