.contenedor-principal {
  height: 100%;
    overflow: hidden;
    display: grid;
    grid-template-rows: 1fr 50px;
    background-color:  rgba(255, 255, 255, 0.863);
    border-radius: 5px;
    padding: 5px 10px;
  .contenedor-inputs {
    height: 100%;
    background-color: rgba(245, 245, 245, 0.712);
    padding: 5px;
    border-radius: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    .contenedor-estado {
      background-color: white;
      display: grid;
      float: left;
      grid-template-columns: 235px 1fr;
      grid-template-areas: "check boton";
      border-radius: 10px;

      padding: auto;
      .contenedor-check {
        height: 100%;
        grid-area: check;
        padding-left: 5px;
        border-radius: 10px;
      }
      .boton {
        height: 100%;
        grid-area: boton;
      }
    }
    
    }
    .buscar {
      display: flex;
      justify-content: right;
      align-items: flex-end;

      .boton_Buscar {
        width: 100%;
      }
  }
  .contenedor-inputs::-webkit-scrollbar {
    width: 8px; /* Tamaño del scroll en vertical */
    height: 8px; /* Tamaño del scroll en horizontal */
    display: auto; /* Ocultar scroll */
  }

  .contenedor-inputs::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
  }

  /* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
  .contenedor-inputs::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  }

  /* Cambiamos el fondo cuando esté en active */
  .contenedor-inputs::-webkit-scrollbar-thumb:active {
    background-color: #999999;
  }

  .contenedor-inputs::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
  }

  /* Cambiamos el fondo cuando esté en active o hover */
  .contenedor-inputs::-webkit-scrollbar-track:hover,
  .contenedor-inputs::-webkit-scrollbar-track:active {
    background: #d4d4d4;
  }
}
