<div class="contenedor-principal">
<div class="contenedor-inputs">
  <label for="cliente">Cliente:</label>
  <div class="contenedor-cliente">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Cliente"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        [(ngModel)]="filtro.cliente"
        #Name
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button" (click)="Name.value=''">X</button>
      </div>
    </div>
  </div>

  <label for="usuario">Usuario:</label>
  <div class="contenedor-usuario">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Usuario"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        [(ngModel)]="filtro.usuario"
        #usuario
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button" (click)="usuario.value=''">X</button>
      </div>
    </div>
  </div>
  <label for="referencia">Referencia:</label>
  <div class="contenedor-referencia">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Referencia"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        [(ngModel)]="filtro.referencia"
        #referencia
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button" (click)="referencia.value=''">X</button>
      </div>
    </div>
  </div>

  <label class="fecha">Fecha:</label>
  <div class="input-group input">
    <input
      type="text"
      placeholder="Fecha"
      class="form-control"
      
      bsDaterangepicker
      [bsConfig]="{containerClass: 'theme-dark-blue', isAnimated: true }"
      placement="right"
      #fecha
      [(ngModel)]="filtro.fecha"
    />
    <div class="input-group-append">
      <button type="button" class="btn btn-outline-danger" (click)="fecha.value=''">X</button>
    </div>
  </div> <br>

  <label for="tipos">Tipos:</label>
  <div class="contenedor-tipo">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Tipo"
        aria-label="Recipient's username"
        aria-describedby="basic-addon2"
        [(ngModel)]="filtro.tipo"
        #tipo
      />
      <div class="input-group-append">
        <button class="btn btn-outline-danger vaciar" type="button" (click)="tipo.value=''">X</button>
      </div>
    </div>
  </div>
  <label for="estado">Estado:</label> <br />
  <div class="contenedor-estado">
    <div class="contenedor-check">
      <input type="checkbox"  id="pendiente" #check [(ngModel)]="filtro.pendiente"/><label for="pendiente">Pendinte</label>  <br />
      <input type="checkbox" id="recogiendo" #check [(ngModel)]="filtro.recogiendo"/> <label for="recogiendo">Recogiendo</label> <br />
      <input type="checkbox" id="recogida" #check [(ngModel)]="filtro.recogida"/><label for="recogida">Recogida</label> <br />
      <input type="checkbox" id="desconsolidando" #check [(ngModel)]="filtro.desconsolidando"/><label for="desconsolidando">Desconsolidando</label><br />
      <input type="checkbox" id="desconsolidada" #check [(ngModel)]="filtro.desconsolidada"/><label for="desconsolidada">Desconsolidada</label><br />
      <input type="checkbox" id="entregada" #check [(ngModel)]="filtro.entregada"/><label for="entregada">Entregada</label><br />
      <input type="checkbox" id="incidencia" #check [(ngModel)]="filtro.incidencia"/><label for="incidencia">Incidencia</label><br />
    </div>
    <div class="input-group-append boton">
      <button class="btn btn-outline-danger vaciar" type="button" (click)="
      filtro.incidencia = false;
      filtro.entregada = false;
      filtro.desconsolidada = false;
      filtro.desconsolidando = false;
      filtro.recogida = false;
      filtro.recogiendo = false;
      filtro.pendiente = false
    ">X</button>
    </div>
  </div>
  
</div>
<div class="buscar">
    <button
      type="submit"
      class="btn btn-primary btn-lg  boton_Buscar"
      (click)="buscar()"
    >
      Buscar
    </button>
  </div>
</div>