.contenedor-datos {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 35px;
  grid-template-areas: "tabla" "paginas";
  background-color: rgba(253, 252, 251, 0.89);
  border-radius: 15px;
  .contenedor-tabla {
    height: 100%;
    grid-area: tabla;

    .table {
      text-align: center;

      .cabecera_tabla {
        border-bottom: 2px solid black;
        font-weight: bold;
        .derecha {
          text-align: right;
        }
        .izquierda {
          text-align: left;
          //padding-left: 5px;
        }
        .centro {
          text-align: center;
        }
      }
      .elementos_tabla {
        .botonInfo {
          width: 35px;
          height: 35px;
          border: none;
        }
        border-style: none;
        td {
          height: 15px;
        }
        .izquierda {
          text-align: left;
          //padding-left: 5px;
        }
        .centro {
          text-align: center;
        }
        .derecha {
          text-align: right;
          padding-right: 5px;
        }
        .entregada {
          background-color: green;
          font-size: 15px;
          color: white;
          text-align: center;
          padding-top: 0px;
          padding-bottom: 0px;
          padding-left: 5px;
          padding-right: 5px;
          border-radius: 5px;
        }
        .pendiente {
          background-color: black;
          font-size: 15px;
          color: white;
          text-align: center;
          padding-left: 5px;
          padding-right: 5px;
          border-radius: 5px;
          margin-top: 6px;
        }
        .desconsolidada {
          background-color: rgb(0, 38, 252);
          font-size: 15px;
          color: white;
          text-align: center;
          padding-left: 5px;
          padding-right: 5px;
          border-radius: 5px;
          margin-top: 7px;
        }
        .mesa {
          background-color: blue;
          font-size: 15px;
          width: 25px;
          height: 25px;
          color: white;
          text-align: center;
          border-radius: 5px;
          padding-top: 1px;
          padding-left: 6px;
        }
        .ruta {
          background-color: green;
          font-size: 15px;
          width: 25px;
          height: 25px;
          color: white;
          text-align: center;
          border-radius: 5px;
          padding-top: 1px;
          margin-top: 8px;
        }
        .imagen {
          width: 5px;
          text-align: center;
          .logo_marca {
            align-items: center;
            height: 35px;
            width: 75px;
          }
        }
        .info {
          .logo_info {
            height: 35px;
            width: 35px;
          }
        }
      }
    }

    .elementos_tabla:hover {
      background-color: rgba(250, 235, 215, 0.781);
    }
  }
  .contenedor-paginacion {
    height: 100%;
    grid-area: paginas;
    text-align: right;
  }
}
